<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="box col-md-6 col-md-offset-3">
                <div class="okta-header">
                    <img width="100px" src="https://www.okta.com/sites/all/themes/Okta/images/logo.svg"/>
                </div>

                <div th:if="${user}">
                    <h1 th:inline="text">Hello [[${user.name}]]</h1>
                    <h3 th:inline="text">This is the [[${#httpServletRequest.getRequestURI()}]] page!</h3>
                    <form method="POST" class="logout-complete" th:action="@{/logout}">
                        <input type="button" class="btn btn-danger logout-kickoff" value="Logout"/>
                        <a href="/more-secure" class="btn btn-primary">Go to /more-secure</a>
                        <a href="/" class="btn btn-primary">Go Home</a>
                    </form>
                    <div th:if="${authorities}">
                        <h4>/more-secure requires membership in one of:</h4>
                        <ul class="col-md-offset-3" th:each="authority : ${authorities}" style="text-align: left">
                            <li th:text="${authority}"></li>
                        </ul>
                    </div>
                </div>
                <div th:unless="${user}">
                    <h1>SHOULDN'T BE HERE!</h1>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="text">
        $(document).ready(function () {
            $('.logout-kickoff').click(function () {
                $.ajax({
                    url : '[[${oktaTenantUri}]]/api/v1/sessions/me',
                    type: 'DELETE',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log('success!');
                        $('.logout-complete').submit();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });
            });
        });
    </script>
</body>
</html>